@font-face {
    font-family: 'ModernDOS916';
    /* src: url(fonts/ModernDOS9x16.ttf); */
    src: url('fonts/ModernDOS9x16.ttf')
}

@font-face {
    font-family: 'NewDOS';
    src: url('fonts/NewDOS.fon');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P-Regular.ttf');
}

html {
    line-height: 1.0;
}

body {
    /* background-color: #dedede; */
    /* background-color: #007; */
    background-color: #000;
    /* font-family: system-ui; */
    /* font-family: 'Press Start 2P', 'ModernDOS916' 'Share Tech Mono', 'Ubuntu Mono', Consolas, 'Courier New',  monospace; */
    font-family: 'ModernDOS916', 'Press Start 2P', 'NewDOS', 'ModernDOS916', 'Consolas', monospace;
    /* font-size: 1rem; */
    font-size: 1rem;
    /* line-height: 1em; */
    margin: 0 auto;
    /* padding: 10px; */
    /* min-width: 800px; */
    /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text x='0' y='15' fill='white' font-size='12'>z</text></svg>"); */
    /* background-image: url('data:image/svg+xml;utf8,<svg viewBox='0 0 240 80' xmlns='http://www.w3.org/2000/svg" version='1.1'><style>.Rrrrr { font: italic 40px serif; fill: red; }</style><text x="65' y='55' class='Rrrrr'>Grumpy!</text></svg>'); */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>I love SVG!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>I love SVG!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>I love SVG!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>I love SVG!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='150px' width='220px'><text x='0' y='15' fill='red' font-size='20'>Grumpy</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg viewBox="0 0 240 80" xmlns='http://www.w3.org/2000/svg'><style>.small { font: italic 13px sans-serif; }; .heavy { font: bold 30px sans-serif; } .Rrrrr { font: italic 40px serif; fill: red; }</style><text x='20' y='35' class='small' fill='red'>My</text><text x='40' y='35' class='heavy'>cat</text><text x='55' y='55' class='small'>is</text><text x='65' y='55' class='Rrrrr'>Grumpy!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg viewBox='0 0 240 80' xmlns='http://www.w3.org/2000/svg'><style>.small { font: italic 13px sans-serif; }; .heavy { font: bold 30px sans-serif; } .Rrrrr { font: italic 40px serif; fill: red; }</style><text x='20' y='35' class='small' fill='red'>My</text><text x='40' y='35' class='heavy'>cat</text><text x='55' y='55' class='small'>is</text><text x='65' y='55' class='Rrrrr'>Grumpy!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg viewBox='0 0 240 80' xmlns='http://www.w3.org/2000/svg'><style>.small { font: italic 13px sans-serif; border: 5px solid red;}; .heavy { font: bold 30px sans-serif; } .Rrrrr { font: italic 40px serif; fill: red; }</style><rect x='0' y='0' width='100%' height='100%' fill='blue'/><text x='20' y='35' class='small' fill='red'>My</text><text x='40' y='35' class='heavy'>cat</text><text x='55' y='55' class='small'>is</text><text x='65' y='55' class='Rrrrr'>Grumpy!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'><style>.text { font: italic 30px serif; fill: red; }</style><rect x='1' y='1' width='198px' height='198px' fill=''/><text x='65' y='55' class='text'>Grumpy!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'><style>.text { font: italic 30px serif; fill: rgb(0,255,0); }</style><text x='0' y='200' class='text'>Grumpy!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>I love SVG!</text></svg>"); */
    /* background-repeat: repeat; */
    /* <rect x='0' y='6' width='100' height='100' fill='none' stroke='green' stroke-width='1'/> */
    /* background: repeat-x; */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='30px'><text x='0' y='22' style='fill: rgb(150,150,255); border: 0; margin: 0; padding: 0; font-size: 26px;'>░</text></svg>"); */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10px' height='20px'><text x='0' y='16' style='fill: rgb(150,150,255); border: 0; margin: 0; padding: 0; font-size: 18px; font-family: monospace;'>░</text></svg>");
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='400px' height='20px'><text x='0' y='14' style='fill: rgb(150,150,255); border: 0; margin: 0; padding: 0; font-size: 24px; font-family: monospace;'>░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░</text></svg>"); */
    /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='36px'><text x='0' y='32' style='fill: rgb(150,150,255); border: 0; margin: 0; padding: 0; font-size: 32px; font-family: monospace;'>░</text></svg>"); */
    perspective: 6000px;
}




.body-wrapper {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* min-height: 100%; */
    /* overflow: hidden; */
    /* align-items: center; */
    /* flex-basis: 900px; */
    /* padding: 4px; */
    margin: 0 auto;
    max-width: 980px;
}

.body-container {
    /* transition: all 0.5s ease; */
    /* margin: 0 auto; */
    /* max-width: 1900px; */
    /* max-width: 90%; */
    /* min-width: 640px; */
    margin: 1.25rem;
    flex: 0 1 auto;
    /* flex-basis: 900px; */
    /* border: 10px solid red; */
}




.dosbox-wrapper {
    /* background-color: #aaa; */
    /* background-color: #2d56ac;
    background-color: #3662a3;
    background-color: #0a4194;
    background-color: #30568f;
    background-color: #254a78; */

    /* margin: 21px; */
    /* padding: 8px; */

    /* width: 100%; */
    /* align: center; */
    /* width: 100%; */
    /* margin: 0 auto; */
    /* max-width: 800px; */
    /* min-width: 640px; */
}

.dosbox-window__header {
    position: absolute;
    /* width: 150px; */
    /* overflow: hidden; */
    /* margin-left: auto; */

    /* display: block; */
    /* margin: 0 auto; */
    /* text-align: center; */
    /* margin: auto; */

    /* left: 50%;
    right: 50%; */
    left: 0;
    right: 0;
    /* align: center; */
    /* word-wrap: ; */
    margin: 0 auto;
    /* max-width: 780px; */
    /* min-width: 540px; */
    display: flex;
    justify-content: center;
    min-width: 440px;
}

.dosbox-window__header span {
    /* color: red; */
    color: #ddd;
    /* background-color: black; */
    /* background-color: #007; */
    padding: 0 0.6rem;
    line-height: 1.5rem;
    font-family: 'Press Start 2P', 'ModernDOS916';
    font-size: 0.6rem;
    /* display: inline-block; */
    /* margin: 0 auto; */
    /* width: 20%; */
    /* left: 0; right: 0; */
    /* position: absolute; */
    /* z-idex: 10; */
    letter-spacing: 0.1rem;

}


.dosbox-window {
    /* background-color: #aaa; */
    /* background-color: #2d56ac;
    background-color: #3662a3;
    background-color: #0a4194;
    background-color: #30568f;
    background-color: #254a78; */

    /* margin: 21px; */
    padding: 10px;
    color: #ddd;
    /* width: 100%; */
    min-width: 390px;
}

.dosbox {
    /* padding: 104px; */
    /* margin: 10px; */
    text-align: center;
}

.dosbox__bg-blue {
    /* background-color: #254a78; */
    /* background-color: #00a8a8; */
    /* background-color: #007; */
}

.dosbox__bg-black {
    /* background-color: #000; */
    /* background-color: #00a8a8; */
    /* background-color: #007; */
}


.bg-blue {
    /* background-color: #254a78; */
    /* background-color: #00a8a8; */
    background-color: #007;
}

.bg-black {
    background-color: #000;
    /* background-color: #00a8a8; */
    /* background-color: #007; */
}



.border-white {
    border: 6px double white;
}

.dosbox__border-blue {
    /* border: 6px double #3c78c1; */
    border: 4px double #c4d6ec;
    /* padding: 5px; */
}

.dosbox__shadow {
    /* box-shadow: 1.2em 1.6em 2px rgba(0, 0, 0, 0.6); */
    box-shadow: 1.0rem 1.0rem 2px rgba(0, 0, 0, 0.6);
}





.dosbox__header {
    margin: 0 auto;
    /* max-width: 980px; */
    /* width: 100%; */
    /* overflow: hidden; */

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 0;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 4px;
}

.dosbox__header-left {
    /* margin: 0 auto; */
    /* padding: 4px 5px 0px 5px; */

    /* text-align: center; */

    flex: 1 0 20%;
    /* flex-basis: 125px; */
    /* background-color: #333; */
    align-self: center;
    font-size: 9.0px;
    font-family: 'Courier New', 'Consolas', monospace;
    margin: 1rem;
}

.ascii_art {
    transition: all 1s ease;
}

.dosbox__header-right {
    margin: 0 auto;
    /* padding: 1rem; */
    /* width: 70%; */
    /* background-color: #EEE; */
    align-self: center;
    flex: 1 0 auto;
    /* margin: 1pt; */
    padding-bottom: 1rem;
}

.dosbox__header h1 {
    /* margin: 1rem; */
}

#myname {
    transition: all 1s ease;
}









.dosbox__contacts {
    font-weight: 100;
    /* width: 100%; */
    text-align: justify;
    margin: 0 auto;
    /* background-color: #red; */
    /* border: 1px solid red; */
}

.dosbox__contacts tr td:first-child {
    /* text-align: center; */
    /* margin: 0 auto; */
    /* width: 3rem; */
    /* background-color: red;  */
}

.dosbox__contacts img {
    display: block;
    margin: 0 1.5rem 0 0;
    /* text-align: center; */
    /* width: 5rem; */
    /* background-color: red;  */
}

.dosbox__contacts tr td:last-child {
    /* text-align: center; */
    padding-left: 1.5rem;
    /* width: 30rem; */
    /* background-color: red;  */
}




.header-left img {
    border-radius: 50%;
    border: 2px dashed #eee;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    margin-left: auto;
    padding-left: auto;
}




.dosbox__main-first {
    /* margin: 0 auto; */
    /* padding: 4px 5px 0px 5px; */

    /* text-align: center; */

    flex: 1 0 375px;
    /* flex-basis: 375px; */
    /* background-color: #333; */
    /* align-self: center; */
    /* font-size: 5.5pt; */
    /* font-family: 'Courier New', 'Consolas', monospace; */
    /* margin: 1rem; */
    /* padding-right: 10rem; */
}

.dosbox__main-second {
    /* margin: 0 auto; */
    /* padding: 1rem; */
    /* width: 70%; */
    /* background-color: #EEE; */
    /* align-self: center; */
    flex: 1 0 375px;
    /* flex-basis: 375px; */
    /* margin: 1pt; */
    /* padding-bottom: 1rem; */
}

.dosbox__main-third {
    /* margin: 0 auto; */
    /* padding: 1rem; */
    /* width: 70%; */
    /* background-color: #EEE; */
    /* align-self: center; */
    flex: 1 0 375px;
    /* flex-basis: 375px; */
    /* margin: 1pt; */
    /* padding-bottom: 1rem; */
}

.dosbox__main-fourth {
    /* margin: 0 auto; */
    /* padding: 1rem; */
    /* width: 70%; */
    /* background-color: #EEE; */
    /* align-self: center; */
    flex: 1 0 375px;
    /* flex-basis: 375px; */
    /* margin: 1pt; */
    /* padding-bottom: 1rem; */
}

.item {
    font-family: Verdana, sans-serif;
    font-size: 0.80rem;
    text-align: left;
    padding: 0 1rem 1rem 1rem;
}

.item h4 {
    border-bottom: 1px solid;
    font-size: 1.2rem;
    text-indent: 0.25rem;
    margin-bottom: 1.75rem;
    padding-bottom: 0.2rem;
}

pre.objectives {
    /* font-family: 'ModernDOS916', 'Consolas', monospace; */
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    /* style="font-size: 1rem; width: 355px;" */

}

.border-bottom {
    border-bottom: 1px solid white;
}

ul.courses {
    margin: 0;
    padding-left: 1.5rem;
}

ul.courses li {
    padding-bottom: 0.5rem;
    line-height: 1.1rem;
}

ul.courses li p {
    font-size: 0.7rem;
    margin-left: 1rem;
}

p {
    margin-left: 0.5rem;
}

.progress {
    /* font-size: 0.75em; */
}

a,
a:link,
a:active,
a:visited {
    color: inherit;
}

/* .anitop {
    transform-style: preserve-3d;
    transition: all 0.5s ease;
} */

.ani-container {
    position: absolute;
    width: 100%;
    /* height: 22rem; */
    /* border: 1px solid red; */
    /* background-color: white; */
    z-index: 10;

}

.ani-nameplate {
    /* transform-style: preserve-3d; */
}

* {
    transform-style: preserve-3d;
}

.header,
.dosbox-window__header {
    /* translate: 100px; */
    z-index: 10;
    /* transform-style: none !important; */
}











@media only screen and (max-width: 500px) {

    body {
        font-size: 0.9rem;
    }

    .body-wrapper {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 980px;
    }


    .body-container {
        /* margin: 1.25rem; */
        margin: 0.75rem;
        flex: 0 1 auto;
    }




    .dosbox-wrapper {}

    .dosbox-window__header {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        /* min-width: 440px; */
        min-width: 360px;
    }

    .dosbox-window__header span {
        color: #ddd;
        padding: 0 0.6rem;
        line-height: 1.5rem;
        font-family: 'Press Start 2P', 'ModernDOS916';
        font-size: 0.6rem;
        letter-spacing: 0.1rem;

    }


    .dosbox-window {
        padding: 10px;
        color: #ddd;
        /* min-width: 390px; */
        min-width: 330px;
    }

    .dosbox {
        text-align: center;
    }

    .dosbox__shadow {
        /* box-shadow: 1.2em 1.6em 2px rgba(0, 0, 0, 0.6); */
        /* box-shadow: 0.5rem 0.75rem 2px rgba(0, 0, 0, 0.6); */
    }



    .dosbox__main-first,
    .dosbox__main-second,
    .dosbox__main-third,
    .dosbox__main-fourth {
        flex: 1 0 335px;

    }

    .item {
        font-family: Verdana, sans-serif;
        /* font-size: 0.80em; */
        text-align: left;
        /* padding: 0.1rem; */
        margin: 0.33rem 1.0rem 0 0.5rem;
        padding: 0.1rem 0.75rem 0 0;
        line-height: 1.0rem;

    }

    .item h4 {
        font-family: 'ModernDOS916', monospace;
        /* font-size: 10pt; */
        border-bottom: 1px solid;
        font-size: 1.5rem;
        text-indent: 0.5rem;
        /* margin-bottom: 0; */
        /* margin-bottom: 1.25rem; */
        /* margin-right: 0.5rem; */
        /* margin: 1.5rem 0.75rem 1rem 0; */
        /* width:95%; */
    }

    h4.skills {
        font-family: 'ModernDOS916', monospace;
        margin-top: 1.55rem;

    }

    h4.education {
        margin-top: 2rem;
    }



    .dosbox__contacts {
        font-weight: 100;
        /* width: 100%; */
        text-align: justify;
        margin: 0 auto;
        /* background-color: #red; */
        /* border: 1px solid red; */
    }

    .dosbox__contacts tr td:first-child {
        /* text-align: center; */
        /* margin: 0 auto; */
        /* width: 3rem; */
        /* background-color: red;  */
    }

    .dosbox__contacts img {
        display: block;
        /* margin: 0 1.0rem 0 0; */
        margin: 0 auto;
        width: 0.8rem;
        padding-right: 0.5rem;
        /* text-align: center; */
        /* width: 5rem; */
        /* background-color: red;  */
    }

    .dosbox__contacts tr td:last-child {
        /* text-align: center; */
        padding-left: 0.5rem;
        /* width: 30rem; */
        /* background-color: red;  */
    }

    pre.objectives {
        /* font-family: 'Press Start 2P', 'ModernDOS916', 'Consolas', monospace; */
        font-family: 'Courier New', Courier, monospace;
        margin: 0 auto;
        margin-left: -10px;
        line-height: 1.rem;
        ;
    }
}