@font-face {
    font-family: 'ModernDOS916';
    /* src: url(fonts/ModernDOS9x16.ttf); */
    src: url('fonts/ModernDOS9x16.ttf')
}

@font-face {
    font-family: 'NewDOS';
    src: url('fonts/NewDOS.fon');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P-Regular.ttf');
}

html {
    line-height: 1.0;
}

body {
    /* background-color: #dedede; */
    /* background-color: #007; */
    background-color: #000;
    /* font-family: system-ui; */
    /* font-family: 'Press Start 2P', 'ModernDOS916' 'Share Tech Mono', 'Ubuntu Mono', Consolas, 'Courier New',  monospace; */
    font-family:  'ModernDOS916', 'Press Start 2P', 'NewDOS', 'ModernDOS916', 'Consolas',  monospace;
    /* font-size: 1rem; */
    font-size: 1em;
    /* line-height: 1em; */
    margin: 1rem auto;
    /* padding: 10px; */
    /* min-width: 800px; */
    /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text x='0' y='15' fill='white' font-size='12'>z</text></svg>"); */
    /* background-image: url('data:image/svg+xml;utf8,<svg viewBox='0 0 240 80' xmlns='http://www.w3.org/2000/svg" version='1.1'><style>.Rrrrr { font: italic 40px serif; fill: red; }</style><text x="65' y='55' class='Rrrrr'>Grumpy!</text></svg>'); */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>I love SVG!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>I love SVG!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>I love SVG!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>I love SVG!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='150px' width='220px'><text x='0' y='15' fill='red' font-size='20'>Grumpy</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg viewBox="0 0 240 80" xmlns='http://www.w3.org/2000/svg'><style>.small { font: italic 13px sans-serif; }; .heavy { font: bold 30px sans-serif; } .Rrrrr { font: italic 40px serif; fill: red; }</style><text x='20' y='35' class='small' fill='red'>My</text><text x='40' y='35' class='heavy'>cat</text><text x='55' y='55' class='small'>is</text><text x='65' y='55' class='Rrrrr'>Grumpy!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg viewBox='0 0 240 80' xmlns='http://www.w3.org/2000/svg'><style>.small { font: italic 13px sans-serif; }; .heavy { font: bold 30px sans-serif; } .Rrrrr { font: italic 40px serif; fill: red; }</style><text x='20' y='35' class='small' fill='red'>My</text><text x='40' y='35' class='heavy'>cat</text><text x='55' y='55' class='small'>is</text><text x='65' y='55' class='Rrrrr'>Grumpy!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg viewBox='0 0 240 80' xmlns='http://www.w3.org/2000/svg'><style>.small { font: italic 13px sans-serif; border: 5px solid red;}; .heavy { font: bold 30px sans-serif; } .Rrrrr { font: italic 40px serif; fill: red; }</style><rect x='0' y='0' width='100%' height='100%' fill='blue'/><text x='20' y='35' class='small' fill='red'>My</text><text x='40' y='35' class='heavy'>cat</text><text x='55' y='55' class='small'>is</text><text x='65' y='55' class='Rrrrr'>Grumpy!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'><style>.text { font: italic 30px serif; fill: red; }</style><rect x='1' y='1' width='198px' height='198px' fill=''/><text x='65' y='55' class='text'>Grumpy!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'><style>.text { font: italic 30px serif; fill: rgb(0,255,0); }</style><text x='0' y='200' class='text'>Grumpy!</text></svg>"); */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>I love SVG!</text></svg>"); */
    /* background-repeat: repeat; */
    /* <rect x='0' y='6' width='100' height='100' fill='none' stroke='green' stroke-width='1'/> */
    /* background: repeat-x; */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='30px'><text x='0' y='22' style='fill: rgb(150,150,255); border: 0; margin: 0; padding: 0; font-size: 26px;'>░</text></svg>"); */
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10px' height='20px'><text x='0' y='16' style='fill: rgb(150,150,255); border: 0; margin: 0; padding: 0; font-size: 18px; font-family: monospace;'>░</text></svg>");
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='400px' height='20px'><text x='0' y='14' style='fill: rgb(150,150,255); border: 0; margin: 0; padding: 0; font-size: 24px; font-family: monospace;'>░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░</text></svg>"); */
    /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='36px'><text x='0' y='32' style='fill: rgb(150,150,255); border: 0; margin: 0; padding: 0; font-size: 32px; font-family: monospace;'>░</text></svg>"); */
}




.body-wrapper {
    display: flex;
    flex-direction: column;
    /* min-height: 100%; */
    /* overflow: hidden; */
    /* align-items: center; */
    /* padding: 4px; */
}

.body-container {
    margin: 0 auto;
    max-width: 800px;
    min-width: 640px;
    flex: 1 1 auto;
}




.dosbox-wrapper {
    /* background-color: #aaa; */
    /* background-color: #2d56ac;
    background-color: #3662a3;
    background-color: #0a4194;
    background-color: #30568f;
    background-color: #254a78; */

    /* margin: 21px; */
    /* padding: 8px; */
  
    /* width: 100%; */
    /* align: center; */
    /* width: 100%; */
    /* margin: 0 auto; */
    /* max-width: 800px; */
    /* min-width: 640px; */
}

.dosbox-window__header {
    position: absolute;
    /* width: 150px; */
    /* overflow: hidden; */
    /* margin-left: auto; */
    
    /* display: block; */
    /* margin: 0 auto; */
    /* text-align: center; */
    /* margin: auto; */
    
    /* left: 50%;
    right: 50%; */
    left: 0; right: 0;
    /* align: center; */
    /* word-wrap: ; */
    margin: 0 auto;
    max-width: 780px;
    min-width: 540px;
    display: flex;
    justify-content: center;    
}

.dosbox-window__header span {
    /* color: red; */
    color: #ddd;
    /* background-color: black; */
    background-color: #007;
    padding: 0 0.6rem;
    line-height: 1.5rem;
    font-family: 'Press Start 2P', 'ModernDOS916';
    font-size: 0.6rem;
    /* display: inline-block; */
    /* margin: 0 auto; */
    /* width: 20%; */
    /* left: 0; right: 0; */
    /* position: absolute; */
    /* z-idex: 10; */
    letter-spacing: 0.1rem;
}


.dosbox-window {
    /* background-color: #aaa; */
    /* background-color: #2d56ac;
    background-color: #3662a3;
    background-color: #0a4194;
    background-color: #30568f;
    background-color: #254a78; */

    /* margin: 21px; */
    padding: 10px;
    color: #ddd;
    /* width: 100%; */
}
.dosbox {
    /* padding: 104px; */
    /* margin: 10px; */
    text-align: center;
}
.dosbox__bg-blue {
    background-color: #254a78;
    background-color: #00a8a8;
    background-color: #007;
}

.border-white {
    border: 6px double white;
}

.dosbox__border-blue {
    /* border: 6px double #3c78c1; */
    border: 4px double #c4d6ec;
    /* padding: 5px; */
}

.dosbox__shadow {
    box-shadow: 1.2em 1.6em 2px rgba(0, 0, 0, 0.3);
}





.dosbox__header {
    margin: 0 auto;
    /* max-width: 980px; */
    /* width: 100%; */
    /* overflow: hidden; */

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 4px;
}

.dosbox__header-left {
    /* margin: 0 auto; */
    /* padding: 4px 5px 0px 5px; */

    /* text-align: center; */

    flex: 1 0 20%;
    /* flex-basis: 125px; */
    /* background-color: #333; */
    align-self: center;
    font-size: 5.5pt;
    font-family: 'Courier New', 'Consolas', monospace;
    margin: 1rem;
}

.ascii_art {
}

.dosbox__header-right {
    margin: 0 auto;
    /* padding: 1rem; */
    /* width: 70%; */
    /* background-color: #EEE; */
    align-self: center;
    flex: 1 0 auto;
    /* margin: 1pt; */
    padding-bottom: 1rem;
}

.dosbox__header h1 {
    /* margin: 1rem; */
}












.dosbox__contacts {
    /* width: 100%; */
    text-align: justify;
    margin: 0 auto;
    /* background-color: #red; */
    /* border: 1px solid red; */
}

.dosbox__contacts tr td:first-child {
    /* text-align: center; */
    /* margin: 0 auto; */
    /* width: 3rem; */
    /* background-color: red;  */
}

.dosbox__contacts img {
    display: block;
    margin: 0 1.5rem 0 0;
    /* text-align: center; */
    /* width: 5rem; */
    /* background-color: red;  */
}

.dosbox__contacts tr td:last-child {
    /* text-align: center; */
    padding-left: 1.5rem;
    /* width: 30rem; */
    /* background-color: red;  */
}




.header-left img {
    border-radius: 50%;
    border: 2px dashed #eee;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    margin-left: auto;
    padding-left: auto;
}


